body{
    background-color: bisque;
    margin: 0;
    padding: 0;
}


ol{
    color:gold;
}

h1{
    color: rgb(100, 10, 5)
}

li{
    color: rgba(100, 10, 5, 1);
}

h1{
    text-align: center;
    
}

#div1{
    border-radius: 20px;
    background-color: chartreuse;
    width: 200px;
    height: 80px;
}


.container{
    height: 400px;
    width: 600px;
    border:4px solid black;
    display: inline-block;
    justify-content: space-evenly;
    align-content: center;
}

.container h2{
    display:flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    width:fit-content;
}

.gallery{
    display: flex;
    justify-content: center;
}

.gallery-item{
    border: 2px solid black;
    display: inline;
    align-items: center;
}

.description{
    padding:20px;
    align-items: center;
}

.gradien{
    height:200px;
    background: linear-gradient(to bottom, pink,yellow, rgb(247, 172, 247));
}

.hero {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;

  background-image: 
    linear-gradient(rgba(229, 95, 239, 0.5), rgba(102, 225, 239, 0.1)),  /* gradient layer */
    url("your-image.jpg");                                   /* actual image */
  
  background-size: cover;
  background-position: center;
}
